html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
